## 2.10 리스트와 반복문을 사용하여 계산하기

In [1]:
a = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]

In [3]:
# a의 평균 구하기
sum = 0
for i in range(len(a)):
    sum = sum + a[i]
average = sum/len(a)
average

86.5

In [6]:
del sum

In [8]:
sum(a)/len(a)

86.5

In [10]:
# 두 학생의 시험성적 합을 리스트로  구하기 

s = []  # 빈 리스트를 먼저 설정한다
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]

In [11]:
for i in range(len(a1)):
    s.append(a1[i]+a2[i])
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

### 2.10.1 리스트의 원소를 직접 반복문에서 사용하기

In [13]:
for i in a:
    print(i, end=" ")

90 85 95 80 90 100 85 75 85 80

### 2.10.2 enumerate 함수
반복문에 정수 인덱스가 필요할 때 사용.
append메서드를 쓰면 계산속도가 저하되므로, 리스트의 원소를 반복하면서 동시에 인덱스 값도 생성하는 enumerate함수를 사용한다.

In [16]:
for i, e in enumerate(["a", "b", "c"]):
    print (f"i={i}, e={e}")

i=0, e=a
i=1, e=b
i=2, e=c

### 2.10.3 
zip 함수
파이썬 내장함수로 같은 길이의 리스트를 같은 인덱스 끼리 잘라서 리스트로 반환.  
복수의 리스트를 합쳐서 각 리스트 원소의 쌍을 원소로 가지는 하나의 리스트를 만든다. 명시적으로 ```list```명령을 사용해야 리스트가 된다.

In [123]:
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]

a12= list(zip(a1,a2))
a12

[(90, 95),
 (85, 90),
 (95, 90),
 (80, 90),
 (90, 95),
 (100, 100),
 (85, 90),
 (75, 80),
 (85, 95),
 (80, 90)]

소괄호로 표시된 묶음은 튜플(tuple)이라고 하며 리스트와 사용법이 거의 동일하다. 
리스트와 튜플의 가장 큰 차이는 값을 변화시킬 수 있는가 여부이다. 즉 리스트의 항목 값은 변화가 가능하고, 튜플의 항목 값은 변화가 불가능하다. 실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 평균적으로 튜플보다는 리스트를 더 많이 사용한다.

#### 반복문 응용

In [108]:
# 일반상황
name = ['a', 'b'] 
value = [1, 2]
for n, v in name, value:
    print("n=",n)
    print("v=",v)
    print(n,v) #name의 원소에 각각 할당되고, value의 원소가 뒤이어 할당된다.

n= a
v= b
a b
n= 1
v= 2
1 2

In [109]:
# zip
name = ['a', 'b'] 
value = [1, 2] 
for n, v in zip(name, value): 
    print("n=",n)
    print("v=",v)
    print(n,v) #zip함수 사용시, n은 name에, v는 value에 인덱스 순서대로 할당된다.

n= a
v= 1
a 1
n= b
v= 2
b 2

In [110]:
# 크기가 같은 리스트의 합을 새로운 리스트에 저장하기 
s=[]
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]

for a1i, a2i in zip(a1,a2):
    s.append(a1i+a2i)
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

In [115]:
# 저장공간을 미리 만들어두고 갱신하면, append를 쓸 때 보다 속도가 빠르다 
s = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0] 
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]

In [116]:
for i, (a1i, a2i) in enumerate(zip(a1, a2)):
    s[i] = a1i + a2i
    print(a1i,a2i,s[i])
s

90 95 185
85 90 175
95 90 185
80 90 170
90 95 185
100 100 200
85 90 175
75 80 155
85 95 180
80 90 170

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

#### zip 함수를 이용해 2차원 배열 뒤집기 (Unzip)
파라미터 앞에 *를 붙이면 다시 여러개의  iterable elements로 나누어 진다.

In [122]:
a12

[(90, 95),
 (85, 90),
 (95, 90),
 (80, 90),
 (90, 95),
 (100, 100),
 (85, 90),
 (75, 80),
 (85, 95),
 (80, 90)]

In [127]:
a21 = list(zip(*a12))
a21

[(90, 85, 95, 80, 90, 100, 85, 75, 85, 80),
 (95, 90, 90, 90, 95, 100, 90, 80, 95, 90)]

In [126]:
a1, a2 = list(zip(*a12))
print(a1)
print(a2)

(90, 85, 95, 80, 90, 100, 85, 75, 85, 80)
(95, 90, 90, 90, 95, 100, 90, 80, 95, 90)

In [125]:
list(zip(*a21))

[(90, 95),
 (85, 90),
 (95, 90),
 (80, 90),
 (90, 95),
 (100, 100),
 (85, 90),
 (75, 80),
 (85, 95),
 (80, 90)]

### 2.10.4 리스트의 리스트
학생이 5명이고 각 학생이 10번의 시험에 대한 성적을 가진다면 다음과 같이 리스트의 리스트로 전체 시험 성적을 나타낼 수 있다

In [79]:
X = [[85,  90,  20,  50,  60,  25,  30,  75,  40,  55],
     [70, 100,  70,  70,  55,  75,  55,  60,  40,  45],
     [25,  65,  15,  25,  20,   5,  60,  70,  35,  10],
     [80,  45,  80,  40,  75,  35,  80,  55,  70,  90],
     [35,  50,  75,  25,  35,  70,  65,  50,  70,  10]]

In [87]:
# 전체 평균점수
s = 0
n = 0
for i in range(len(X)):
    for j in range(len(X[i])):
        n= n+1
        s= s+X[i][j]
s/n

52.7

In [81]:
X[1][4]

55

#### 연습문제 2.10.1
어떤 학생이 5개의 과목을 수강하여 다음과 같은 성적(grade)을 받았다. (4점이 만점)
X=4,3,2,3,4  

이 5개 과목의 이수 학점(credit hours)은 각각 다음과 같다.  
W=3,3,1,2,2  

이 때 평균 평점(GPA)은 성적의 단순 평균이 아니라 이수 학점을 가중치(weight)로 써서 가중 평균을 구해야 한다.

GPA를 구하라

In [95]:
# zip
X=4,3,2,3,4 
W=3,3,1,2,2 

s=0
n=0

for x,w in zip(X,W):
    s= s + x*w
    n= n + w
    
s/n

3.3636363636363638

In [97]:
#enumerate + zip
X=4,3,2,3,4 
W=3,3,1,2,2 
G=[0,0,0,0,0]

for i, (x,w) in enumerate(zip(X, W)):
    G[i] = x*w

sum(G)/sum(W)

3.3636363636363638

#### 연습문제 2.10.2
X=6,5,4,7,3,5 일때, X의 분산을 구하라

In [104]:
X=[6,5,4,7,3,5]
Avg = sum(X)/len(X)
s= 0
for x in X:
    s = s +(x-Avg)**2
s/len(X)

1.6666666666666667

#### 연습문제 2.10.3
다음은 학생 이름과 점수가 들어간 리스트의 리스트 변수다.
```python
x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60],
]
```
복수 할당과 zip 명령을 사용하여 이 변수에서 학생 이름만 있는 변수를 만들어라.

In [130]:
x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60],
]

In [142]:
name, score = list(zip(*x))
name

('길동', '철수', '영수', '방자')