## 2.15 파이썬에서 날짜와 시간 다루기
### 2.15.1 datetime패키지

In [1]:
import datetime as dt

In [2]:
dir(dt)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [3]:
dir(dt.datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [5]:
# now 메서드 - 현재시각을 datetime 클래스 객체로 만들어 반환한다.
x = dt.datetime.now()
x

datetime.datetime(2021, 5, 13, 20, 6, 17, 833947)

date time 클래스 객체 속성
* year: 연도
* month: 월
* day: 일
* hour: 시
* minute: 분
* second: 초
* microsecond: 마이크로초(micro seconds, 백만분의 일초)
date time 클래스 객체 메서드
* weekday: 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
* strftime: 문자열 반환
* date: 날짜 정보만 가지는 date 클래스 객체 반환
* time: 시간 정보만 가지는 time 클래스 객체 반환

In [6]:
x.year, x.month, x.day, x.hour, x.minute, x.second, x.microsecond

(2021, 5, 13, 20, 6, 17, 833947)

In [10]:
x.weekday() #3: 목

3

In [12]:
x.strftime() # 어떤형식으로 문자열을 만들지 결정하는 형식문자열을 인수로 받는다. 생략시 오류

TypeError: strftime() missing required argument 'format' (pos 1)

날짜 및 시간 지정 문자열
* %Y: 앞의 빈자리를 0으로 채우는 4자리 연도 숫자
* %m: 앞의 빈자리를 0으로 채우는 2자리 월 숫자
* %d: 앞의 빈자리를 0으로 채우는 2자리 일 숫자
* %H: 앞의 빈자리를 0으로 채우는 24시간 형식 2자리 시간 숫자
* %M: 앞의 빈자리를 0으로 채우는 2자리 분 숫자
* %S: 앞의 빈자리를 0으로 채우는 2자리 초 숫자
* %A: 영어로 된 요일 문자열
* %B: 영어로 된 월 문자열

In [14]:
x.strftime("%A %d. %B %Y")

'Thursday 13. May 2021'

In [17]:
x.strftime("%H시 %M분 %S초")

'20시 06분 17초'

반대로 문자열로부터 날짜와 시간 정보를 읽어서 datetime 클래스 객체를 만들 수도 있다.
* strptime 클래스 메서드 사용
* 첫번쨰 인수: 날짜와 시간 정보를 가진 문자열
* 두번째 인수: 문자열을 해독할 수 있는 형식 문자열 입력

In [18]:
dt.datetime.strptime("2021-05-13 20:06","%Y-%m-%d %H:%M")

datetime.datetime(2021, 5, 13, 20, 6)

#### 연습문제 2.15.1
strftime 메서드를 사용하여 자신의 생일을 “xxxx년 xx월 xx일 x요일”과 같은 형식으로 출력해보자.

In [21]:
bd=dt.datetime(1990, 4, 11)
bd

datetime.datetime(1990, 4, 11, 0, 0)

In [24]:
bd.strftime("%Y년 %m월 %d일 %A")

'1990년 04월 11일 Wednesday'

### 2.15.2 dateutil 패키지
strptime 클래스 메서드를 사용할 때는 문자열에 맞는 형식 문자열을 사용자가 제공해야 한다. 그러나 dateutil 패키지의 parse 함수를 쓰면 자동으로 형식 문자열을 찾아 datetime 클래스 객체를 만들어 준다.

In [26]:
from dateutil.parser import parse

In [27]:
parse('1990-04-11')

datetime.datetime(1990, 4, 11, 0, 0)

In [28]:
parse("20210513")

datetime.datetime(2021, 5, 13, 0, 0)

In [29]:
parse("Apr 11, 1990 12:30:29")

datetime.datetime(1990, 4, 11, 12, 30, 29)

In [30]:
parse('1990/4/11')

datetime.datetime(1990, 4, 11, 0, 0)

In [33]:
parse('11/4/1990') # 월 일 모두 12보다 작을 떄는 먼저나오는 숫자를 월, 나중을 일로 인식한다.

datetime.datetime(1990, 11, 4, 0, 0)

### 2.15.3 날짜/시간 연산
날짜나 시간의 간격으 ㄹ구할 때는 두 개의 datetime클래스 객체의 차이를 구한다. 이 결과는 timedelta클래스 객체로 반환된다.

In [34]:
x

datetime.datetime(2021, 5, 13, 20, 6, 17, 833947)

In [35]:
bd

datetime.datetime(1990, 4, 11, 0, 0)

In [37]:
x-bd

datetime.timedelta(days=11355, seconds=72377, microseconds=833947)

In [39]:
dir(dt.timedelta)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'days',
 'max',
 'microseconds',
 'min',
 'resolution',
 'seconds',
 'total_seconds']

timedelta 클래스는 다음과 같은 속성과 메서드를 가진다.
* 속성
    * days: 일수
    * seconds: 초 (0 ~ 86399)
    * microseconds: 마이크로초 (0 and 999999)

* 메서드
    * total_seconds: 모든 속성을 초단위로 모아서 변환

In [41]:
dt1 = dt.datetime(2016, 2, 19, 14)
dt2 = dt.datetime(2016, 1, 2, 13)
td = dt1 - dt2
td

datetime.timedelta(days=48, seconds=3600)

In [42]:
td.days, td.seconds,td.microseconds

(48, 3600, 0)

In [44]:
td.total_seconds()

4150800.0

반대로 datetime클래스 객체에 timedelta클래스 객체를 더해 새로운 시간을 구할 수 도 있다.

In [45]:
t0 = dt.datetime(2018, 9, 1, 13)
d = dt.timedelta(days = 90, seconds=3600)

In [46]:
t0 + d

datetime.datetime(2018, 11, 30, 14, 0)

#### 연습문제 2.15.3
1. 자신의 내년 생일까지 남은 날 수를 계산하라.
2. 자신의 내년 생일까지 남은 시간을 분 단위로 계산하라.

In [47]:
bd1=dt.datetime(2022,4,11)
bd1

datetime.datetime(2022, 4, 11, 0, 0)

In [49]:
p =bd1-dt.datetime.now()
p

datetime.timedelta(days=332, seconds=7493, microseconds=927652)

In [52]:
p.total_seconds()/60

478204.89879420004

```timedelta```의 단점은 날짜와 초 단위로만 연산을 할 수 있다느점.  
dateutil패키지는 월단위의 계산을 지원하는 ```relativedelta```클래스를 제공

In [55]:
from dateutil.relativedelta import relativedelta

In [59]:
t0

datetime.datetime(2018, 9, 1, 13, 0)

In [58]:
t0 + relativedelta(months=2)

datetime.datetime(2018, 11, 1, 13, 0)

In [60]:
t1=dt.datetime(2000,1,29)
t1

datetime.datetime(2000, 1, 29, 0, 0)

In [61]:
t1 + relativedelta(months=1)

datetime.datetime(2000, 2, 29, 0, 0)

In [62]:
dt.datetime(2001,1,29)+relativedelta(months=1)

datetime.datetime(2001, 2, 28, 0, 0)

In [71]:
dt.datetime(2000,3,1)-relativedelta(days=1)+relativedelta(years=1)

datetime.datetime(2001, 2, 28, 0, 0)

### time 패키지
time 패키지는 실행을 잠시 멈추는 sleep함수를 제공한다. sleep함수에 n이라는 숫자를 인수로 주면 n초만큼 쉬었다가 다음코드를 실행한다.

In [72]:
import time

In [73]:
print(1)
time.sleep(5)
print(2)
time.sleep(5)
print(3)
time.sleep(5)
print(4)
time.sleep(5)

1
2
3
4