## 2.4 파이썬의 문자열 형식화 
### 2.4.1 % 기호를 사용한 문자열 형식화
* "문자열" % 값 -> 값이 문자열 안으로 들어간다. 
* 문자열 안에 형식지엉 문자열(format specification string)을 사용하여 위치 지정

#### %s : 문자열

In [1]:
"내 이름은 %s 입니다." % "김삼순"

'내 이름은 김삼순 입니다.'

#### %d : 정수

In [2]:
"나는 %d살 입니다." % 12

'나는 12살 입니다.'

#### %f : 부동소수점 실수

In [3]:
"원주율의 값은 %f입니다." % 3.14592

'원주율의 값은 3.145920입니다.'

#### 여러개의 값 문자열에 넣기 : %(값1, 값2, ...)

In [4]:
"%d 곱하기 %d는 %d이다." % (2, 3, 6)

'2 곱하기 3는 6이다.'

In [5]:
"%s의 %s 과목 점수는 %d점이다." % ("현정이", "영어", 100)

'현정이의 영어 과목 점수는 100점이다.'

#### 연습문제 2.4.1

(1) name과 age라는 변수에 각각 이름과 나이를 넣고 다음과 같이 출력하는 코드를 만들어라

Tom is 13 years old

In [6]:
name = "Tom"
age = 13
"%s is %d years old" %(name, age)

'Tom is 13 years old'

(2) a, b 두 변수에 10과 3이라는 값을 대입하라. a, b 변수와 문자열 형식화를 사용하여 다음과 같은 문자열을 출력하는 코드를 만들어라.

10 / 3 = 3.333

In [9]:
a = 10
b = 3
"%d/%d=%f" % (a, b, round(a/b, 3))

'10/3=3.333000'

### 고급 형식지정 문자열
* %"정수"s/d/f -> 정수 :  인쇄될 때 차지하는 공간의 길이
* 지정한 공간의 길이 대비, 출력 값이 작으면 공백으로 강제로 채운다.
* 양의 정수: 값을 뒤로 미루고 공백을 앞으로 채움
* 음의 정수: 값을 앞으로 두고, 공백을 뒤로 채움
* f앞에 소숫점이 있는 숫자가 오면, 실수의 소숫점 자리수를 뜻함

In [12]:
"[%20s]" % "*" # '['와 ']'사이에 20칸의 공백이 있다.

'[                   *]'

In [14]:
"[%-20s]" % "A" # 20칸의 공백 앞쪽에 A를 인쇄한다.

'[A                   ]'

In [16]:
"[%20d]" % 123 #20칸의 공백 뒷쪽에 123을 인쇄한다.

'[                 123]'

In [18]:
x = 1/3.0
x

0.3333333333333333

In [19]:
"%.5f" % x #소숫점 아래 5자리 까지만 인쇄한다.

'0.33333'

In [21]:
"[%-20.6f]" % x # 20칸의 공백 앞 쪽에 소숫점 아래 6자리까지 출력

'[0.333333            ]'

### 2.4.2 format 메서드를 사용한 문자열 형식화
* '%' 대신 '{}'을 사용하며, 자료형 표시 불필요
* {}문자열 내에서 '{'문자를 출력하고 싶을 때에는 "{{"를 사용한다.

In [22]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [23]:
"내 이름은 {{{}}}입니다.".format("홍길동")

'내 이름은 {홍길동}입니다.'

In [24]:
"내 이름은 {}입니다.".format("{홍길동}")

'내 이름은 {홍길동}입니다.'

* {}안의 값 순서를 지정할 수 있다. 
* {0}, {1}, {2} 등. 순서를 바꾸거나 같은 값을 여러번 인쇄하는 것도 가능

In [26]:
"{2}의 {0} 점수는 {1}점입니다. {1}점! {1}점!!".format("수학", 100, "현정이")

'현정이의 수학 점수는 100점입니다. 100점! 100점!!'

* 순서를 나태나는 숫자 대신, 인수 이름을 지정할 수 도 있다.

In [27]:
"{c}의 {a} 점수는 {b}점입니다. {b}점! {b}점!!".format(a = "수학", b = 100, c ="현정이")

'현정이의 수학 점수는 100점입니다. 100점! 100점!!'

* {} 숫자, 인수 미지정 시 순서대로 입력

In [30]:
"{}점수 : {}점, {}점수 : {}점".format("수학", 100, "영어", 99)

'수학점수 : 100점, 영어점수 : 99점'

* 문자열 공간지정
    * {:숫자(문자열 크기)}
    * {:<(값을 앞에, 공백을 뒤에)}
    * {:>(값을 뒤에, 공백을 앞에)
    * {:^(값 중앙에, 공백을 좌우로)}
    * 지정 크기 대비, 출력값이 크면 출력값 그대로 쓰고, 작으면 공백으로 채움

In [56]:
"[{:20}]".format("*")  #문자는 공백을 뒤에

'[*                   ]'

In [73]:
"[{:20}]".format(123)  #숫자는 공백을 앞에

'[                 123]'

In [31]:
"[{:<20}]".format("*")   # "[%-20s]" %"*"

'[*                   ]'

In [42]:
"[{:>20}]".format("*")  # "[%20s]" %"*"

'[                   *]'

In [51]:
"[{:^20}]".format("*")

'[         *          ]'

In [49]:
"[{:20.5f}]"

'[ a]'

* 소수점 자리 수 지정
    * {:.5f} : 부동소수점의 소수점 아래 5자리 까지 표시
* 천단위 쉼표 표시
    * {:,}

In [52]:
"{:.3f}".format(1/3)

'0.333'

In [63]:
"[{:20.5f}]".format(1/3)

'[             0.33333]'

In [65]:
"[{:<20.5f}]".format(1/3)

'[0.33333             ]'

In [67]:
"[{:20,}]".format(1234567890)

'[       1,234,567,890]'

* 특정문자로 공백 채우기 : '>' 앞에 문자열을 쓴다

In [74]:
"[{:-<20}]".format("*")

'[*-------------------]'

In [75]:
"[{:->20}]".format("*")

'[-------------------*]'

In [76]:
"[{:-^20}]".format("*")

'[---------*----------]'

* {} 안에서의 인덱싱

In [83]:
x = [10, 11, 12]
print("리스트의 첫 번째 원소 = {0[0]}".format(x))
print("리스트의 두 번째 원소 = {0[1]}".format(x))

리스트의 첫 번째 원소 = 10
리스트의 두 번째 원소 = 11

In [84]:
y = {"a" : 10, "b" : 11, "c" : 12}
"사전의 a 키 값={0[a]}".format(y)

'사전의 a 키 값=10'

### 2.4.3 F 문자열 (f-string)
* python 3.6 부터 가능
* 문자열 앞에f를 붙히면 {}안에 변수이름 바로 사용가능
* 공백크기지정 등은 format방법과 같이 고급 형식 지정 문자열 사용

In [118]:
name = "홍길동"
age = 32
print(f"{name}의 나이는 {age}이다.")

홍길동의 나이는 32이다.

In [127]:
number=1234567
f"{number:<20}"

'1234567             '

In [128]:
f"{number:>20}"

'             1234567'

In [130]:
f"{number:-<20}"

'1234567-------------'

In [132]:
f"{number:<20,}"

'1,234,567           '

In [125]:
f"{number:-^20,}"

'-----1,234,567------'

In [133]:
f_number=3.141592
f"[{f_number:20.3f}]"

'[               3.142]'

#### 연습문제 2.4.2

(1) a, b 두 개의 변수에 3과 12라는 값을 넣고 이 변수를 사용하여 다음과 같이 세로셈으로 곱셈 결과를 출력하는 코드를 만들어라.

```
       3
x     12
--------
      36
```

* % 기호를 사용한 문자 형식화

In [144]:
a = 3
b = 12
print("%8d\nx%7d\n--------\n%8d" % (a, b, a*b))

       3
x     12
--------
      36

* format 메서드

In [189]:
print("{:8}\nx{:7}\n--------\n{:8}".format(a,b,a*b))

       3
x     12
--------
      36

In [ ]:
a = 3
b = 12
print("{:8}".format(a))
print("x{:7}".format(b))
print("-" * 8)
print("{:8}".format(a*b))

* f string

In [230]:
a = 3
b = 12
print(f"{a:8}\nx{b:7}\n","-"*8,f"\n{a*b:8}")

       3
x     12
 --------
      36

(2) a, b 두 개의 변수에 123456과 7890이라는 값을 넣고 이 변수를 사용하여 다음과 같이 세로셈으로 덧셈 결과를 출력하는 코드를 만들어라. 천의 자리 쉼표를 표시해야 한다.

```
   123,456
+    7,890 
----------
   131,346
```

* % 기호를 사용한 문자 형식화

In [182]:
a = 123456
b = 7890

print("%10d\n+%9d\n----------\n%10d" % (a,b,a+b))

    123456
+     7890
----------
    131346

* format 메서드

In [231]:
a = 123456
b = 7890
print("{:10,}\n+{:9,}\n----------\n{:10}".format(a,b,a*b))

   123,456
+    7,890
----------
 974067840

In [115]:
a = 123456
b = 7890
print("{:10,}".format(a))
print("+{:9,}".format(b))
print("-" * 10)
print("{:10,}".format(a+b))

   123,456
+    7,890
----------
   131,346

* f string

In [237]:
a = 123456
b = 7890
print(f"{a:10,}\n+{b:9,}\n","-"*10,f"\n{a+b:10,}")

   123,456
+    7,890
 ----------
   131,346